<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhf.mapper.BaseConfigMapper" >
  <resultMap id="BaseResultMap" type="com.hhf.entity.BaseConfig" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="config_name" property="configName" jdbcType="VARCHAR" />
    <result column="config_code" property="configCode" jdbcType="VARCHAR" />
    <result column="type_label" property="typeLabel" jdbcType="VARCHAR" />
    <result column="type_value" property="typeValue" jdbcType="BIT" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
    <result column="last_time" property="lastTime" jdbcType="TIMESTAMP" />
    <result column="color" property="color" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, config_name, config_code, type_label, type_value, is_delete, last_time, color
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hhf.entity.BaseConfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from base_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from base_config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from base_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hhf.entity.BaseConfigExample" >
    delete from base_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hhf.entity.BaseConfig" >
    insert into base_config (id, config_name, config_code, 
      type_label, type_value, is_delete, 
      last_time, color)
    values (#{id,jdbcType=BIGINT}, #{configName,jdbcType=VARCHAR}, #{configCode,jdbcType=VARCHAR}, 
      #{typeLabel,jdbcType=VARCHAR}, #{typeValue,jdbcType=BIT}, #{isDelete,jdbcType=BIT}, 
      #{lastTime,jdbcType=TIMESTAMP}, #{color,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hhf.entity.BaseConfig" >
    insert into base_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="configName != null" >
        config_name,
      </if>
      <if test="configCode != null" >
        config_code,
      </if>
      <if test="typeLabel != null" >
        type_label,
      </if>
      <if test="typeValue != null" >
        type_value,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="lastTime != null" >
        last_time,
      </if>
      <if test="color != null" >
        color,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="configName != null" >
        #{configName,jdbcType=VARCHAR},
      </if>
      <if test="configCode != null" >
        #{configCode,jdbcType=VARCHAR},
      </if>
      <if test="typeLabel != null" >
        #{typeLabel,jdbcType=VARCHAR},
      </if>
      <if test="typeValue != null" >
        #{typeValue,jdbcType=BIT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hhf.entity.BaseConfigExample" resultType="java.lang.Integer" >
    select count(*) from base_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update base_config
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.configName != null" >
        config_name = #{record.configName,jdbcType=VARCHAR},
      </if>
      <if test="record.configCode != null" >
        config_code = #{record.configCode,jdbcType=VARCHAR},
      </if>
      <if test="record.typeLabel != null" >
        type_label = #{record.typeLabel,jdbcType=VARCHAR},
      </if>
      <if test="record.typeValue != null" >
        type_value = #{record.typeValue,jdbcType=BIT},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=BIT},
      </if>
      <if test="record.lastTime != null" >
        last_time = #{record.lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.color != null" >
        color = #{record.color,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update base_config
    set id = #{record.id,jdbcType=BIGINT},
      config_name = #{record.configName,jdbcType=VARCHAR},
      config_code = #{record.configCode,jdbcType=VARCHAR},
      type_label = #{record.typeLabel,jdbcType=VARCHAR},
      type_value = #{record.typeValue,jdbcType=BIT},
      is_delete = #{record.isDelete,jdbcType=BIT},
      last_time = #{record.lastTime,jdbcType=TIMESTAMP},
      color = #{record.color,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hhf.entity.BaseConfig" >
    update base_config
    <set >
      <if test="configName != null" >
        config_name = #{configName,jdbcType=VARCHAR},
      </if>
      <if test="configCode != null" >
        config_code = #{configCode,jdbcType=VARCHAR},
      </if>
      <if test="typeLabel != null" >
        type_label = #{typeLabel,jdbcType=VARCHAR},
      </if>
      <if test="typeValue != null" >
        type_value = #{typeValue,jdbcType=BIT},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="lastTime != null" >
        last_time = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hhf.entity.BaseConfig" >
    update base_config
    set config_name = #{configName,jdbcType=VARCHAR},
      config_code = #{configCode,jdbcType=VARCHAR},
      type_label = #{typeLabel,jdbcType=VARCHAR},
      type_value = #{typeValue,jdbcType=BIT},
      is_delete = #{isDelete,jdbcType=BIT},
      last_time = #{lastTime,jdbcType=TIMESTAMP},
      color = #{color,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>